body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-weight: bolder;
  line-height: 1.5;
  margin-top: 8px;
  color: rgb(235, 214, 150);
}

h4 {
  color: rgb(235, 214, 150);
}

ul {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  color: rgb(235, 214, 150);
}
li {
  font-size: 18px;
  text-align: right;
  padding-right: 20px;
  list-style: none;
}

.weather-app {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  margin: 0 auto;
  margin-top: 20px;
  max-width: 600px;
  border: 2px solid rgb(44, 101, 44);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 35px;
}

.card-body {
  padding: 0;
  font-size: 20px;
  color: rgb(215, 215, 215);
}

.myLocation {
  font-size: 30px;
}

#todays-date {
  margin-bottom: 0;
}

#current-time {
  margin-bottom: 20px;
}

#weather-icon {
  font-size: 120px;
  padding-bottom: 15px;
  padding-left: 20px;
  max-width: 80%;
}

.weather-description {
  font-size: 26px;
  color: rgb(235, 214, 150);
  font-weight: bold;
}

.weather-description::first-letter {
  text-transform: capitalize;
}

.pack {
  font-size: 18px;
  color: rgb(215, 215, 215);
}

#country {
  color: rgb(235, 214, 150);
}

#sunrise {
  font-weight: bolder;
}

#current-temperature {
  font-size: 105px;
  text-align: right;
}

#units-celsius,
#units-fahrenheit,
#units-line {
  position: relative;
  top: -40px;
  font-size: 25px;
}

.weather-temperature .active {
  color: rgb(235, 214, 150);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.feels-like,
.wind-speed {
  line-height: 2;
}

.forecast {
  text-align: center;
  color: rgb(235, 214, 150);
}

#min-max-temp {
  text-align: center;
  color: rgba(235, 214, 150);
}

.max-temp,
.forecast-max-unit {
  font-weight: bolder;
}

.min-temp,
.forecast-min-unit {
  color: rgba(235, 214, 150, 0.7);
}

.sarah {
  font-family: monospace;
  text-align: center;
  font-size: 15px;
  color: gray;
}

#open-source-link {
  text-decoration: underline;
}
